{% extends 'todo/base.html' %}
{% load crispy_forms_tags %}
{% block title %}
Sign Up
{% endblock title %}
{% block content %}
<div class="content-section container">
    <form action="" method="POST">
        {% csrf_token %}
        <fieldset>
            <legend class='border-bottom mb-4 pb-3'>Join Today</legend>

            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button type="submit" class='btn btn-outline-primary my-3'>Sign Up</button>
        </div>
    </form>
    <small class='mt-3'>Already have an account? <a href="#">Sign in</a> </small>
</div>
{% endblock content %}